@using Microsoft.Graph
@using System.Globalization
@model Microsoft.Teams.Samples.HelloWorld.Web.Controllers.ActiveChatsModel

<body style="background-color:red;">

    <style>
        .header {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            line-height: 1.42857143;
            color: #333;
            font-size: 27px;
            margin: 20px;
            margin-top: 40px
        }

        .outer {
            border-radius: 4px;
            border-style: solid;
            border-color: #ddd;
            border-width: 1px;
            margin: 8px;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
            max-width: 700px;
            /*border-top: 1px;*/
            margin-left: 50px;
        }

        .logoutDiv {
            margin: 8px;
            max-width: 700px;
            /*border-top: 1px;*/
            margin-left: 50px;
        }

        .logout {
            align-self: flex-end;
        }

        .inner {
            display: flex;
            align-items: center;
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
            /* border-bottom: 0; */
            padding: 10px 15px;
            /* border-top-left-radius: 3px; */
            /* border-top-right-radius: 3px; */
            /* box-sizing: border-box; */
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
        }

        .votes {
            font-size: 11px;
            color: #7a7a7a;
            float: left;
            display: block;
            width: 75px;
            align-items: center;
            flex-grow: 0;
        }

        .question {
            width: 100%;
            flex-grow: 200;
        }

        .mark {
            font-size: 11px;
            width: 100px;
        }

            .mark a {
                color: #7a7a7a;
            }

                .mark a:hover {
                    color: blue;
                }

        .banner {
            display: flex;
            align-items: baseline;
            border-style: solid;
            border-width: 0px;
            border-bottom-width: 5px;
            border-color: rgb(242, 139, 58);
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            max-width: 775px;
        }

        .reset {
            max-width: 700px;
            align-self: flex-end;
            position: fixed;
            bottom: 20px;
        }

        .motto {
            font-size: 12pt;
            color: #888888;
        }

        .brand {
            font-size: 25px;
        }

        .brand2 {
            color: #c47200;
        }

        .spacer {
            flex-grow: 200;
        }


        element.style {
        }


        .fl {
            box-shadow: rgb(0 0 0 / 25%) 0px 0.2rem 0.4rem -0.075rem;
        }


        .fk {
            border-left-width: 1px;
        }


        .fj {
            border-bottom-width: 1px;
        }


        .fi {
            border-right-width: 1px;
        }


        .fh {
            border-top-width: 1px;
        }


        .fg {
            transition: all 100ms ease 0s;
        }


        .ff {
            padding-left: 1.25rem;
        }


        .fe {
            padding-right: 1.25rem;
        }


        .fd {
            border-radius: 2px;
        }


        .fc {
            background-color: rgb(98, 100, 167);
        }


        .fb {
            color: rgb(255, 255, 255);
        }


        .ez {
            max-width: 17.5rem;
        }


        .ey {
            min-width: 6rem;
        }


        .ex {
            height: 2rem;
        }


        .eb {
            vertical-align: middle;
        }


        .dv {
            -webkit-box-pack: center;
            justify-content: center;
        }


        .du {
            outline-width: 0px;
        }


        .bn {
            padding-bottom: 0px;
        }


        .bl {
            padding-top: 0px;
        }


        .bj {
            display: inline-flex;
        }


        .bi {
            cursor: pointer;
        }


        .bg {
            border-left-color: transparent;
        }


        .bf {
            border-bottom-color: transparent;
        }


        .be {
            border-right-color: transparent;
        }


        .bd {
            border-top-color: transparent;
        }


        .ay {
            border-left-style: solid;
        }


        .ax {
            border-bottom-style: solid;
        }


        .aw {
            border-right-style: solid;
        }


        .av {
            border-top-style: solid;
        }


        .au {
            -webkit-box-align: center;
            align-items: center;
        }


        .at {
            position: relative;
        }


        [type=button], [type=reset], [type=submit], button {
            -webkit-appearance: button;
        }


        button, select {
            text-transform: none;
        }


        button, input {
            overflow: visible;
        }


        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }


        * {
            box-sizing: border-box;
        }

        user agent stylesheet
        button {
            appearance: auto;
            -webkit-writing-mode: horizontal-tb !important;
            text-rendering: auto;
            color: -internal-light-dark(black, white);
            letter-spacing: normal;
            word-spacing: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
            display: inline-block;
            text-align: center;
            align-items: flex-start;
            cursor: default;
            background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
            box-sizing: border-box;
            margin: 0em;
            font: 400 13.3333px Arial;
            padding: 1px 6px;
            border-width: 2px;
            border-style: outset;
            border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
            border-image: initial;
        }


        .c {
            text-align: left;
        }


        .b {
            color: rgb(37, 36, 35);
        }


        body {
            padding-top: 0;
            padding-left: 0;
            padding-bottom: 0;
            padding-right: 0;
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 0;
            margin-right: 0;
            font-family: "Segoe UI", system-ui, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
            font-size: 0.875rem;
            line-height: 1.4286;
        }


        html {
            line-height: 1.15;
            -webkit-text-size-adjust: 100%;
        }


        *:before {
            box-sizing: border-box;
        }


        *:after {
            box-sizing: border-box;
        }


        .e ::-webkit-scrollbar {
            width: 1rem;
        }


        .d ::-webkit-scrollbar {
            height: 1rem;
        }


        .u ::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5);
        }


        .t ::-webkit-scrollbar-thumb {
            background-clip: content-box;
        }


        .s ::-webkit-scrollbar-thumb {
            border-left-color: transparent;
        }


        .r ::-webkit-scrollbar-thumb {
            border-bottom-color: transparent;
        }


        .q ::-webkit-scrollbar-thumb {
            border-right-color: transparent;
        }


        .p ::-webkit-scrollbar-thumb {
            border-top-color: transparent;
        }


        .o ::-webkit-scrollbar-thumb {
            border-left-width: 0.25rem;
        }


        .n ::-webkit-scrollbar-thumb {
            border-bottom-width: 0.25rem;
        }


        .m ::-webkit-scrollbar-thumb {
            border-right-width: 0.25rem;
        }


        .l ::-webkit-scrollbar-thumb {
            border-top-width: 0.25rem;
        }


        .k ::-webkit-scrollbar-thumb {
            border-left-style: solid;
        }


        .j ::-webkit-scrollbar-thumb {
            border-bottom-style: solid;
        }


        .i ::-webkit-scrollbar-thumb {
            border-right-style: solid;
        }


        .h ::-webkit-scrollbar-thumb {
            border-top-style: solid;
        }


        .g ::-webkit-scrollbar-thumb {
            border-radius: 0.5625rem;
        }


        .ak ::-webkit-scrollbar-track {
            background: transparent;
        }

        .clickable {
            cursor: pointer;
        }

        /* Popup container - can be anything you want */
        .popup {
            position: relative;
            display: inline-block;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* The actual popup */
            .popup .popuptext {
                visibility: hidden;
                width: 160px;
                background-color: rgb(98, 100, 167);
                color: #fff;
                text-align: center;
                font-size: 16px;
                border-radius: 10px;
                padding: 10px 0;
                position: absolute;
                z-index: 1;
                bottom: 125%;
                left: 100%;
                margin-left: -80px;
            }

                /* Popup arrow */
                .popup .popuptext::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #555 transparent transparent transparent;
                }

            /* Toggle this class - hide and show the popup */
            .popup .show {
                visibility: visible;
                -webkit-animation: fadeIn 1s;
                animation: fadeIn 1s;
            }

        /* Add animation (fade in the popup) */
        @@-webkit-keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @@keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .styled-header {
            margin-top: 20px;
            margin-left: 5px;
            color: rgb(50, 49, 48);
            font-weight: 600;
            font-size: 14px;
            font-family: 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
            text-align: left;
        }

        .data-table {
            margin-left: 5px;
            position: relative;
            height: 48px;
            min-height: 48px;
            white-space: nowrap;
            background-color: #fff;
            border-bottom: 1px solid #f3f2f1;
            box-shadow: 0 2px 4px rgb(37 36 36 / 10%);
            z-index: 2;
            -webkit-font-smoothing: antialiased;
            color: #252424;
            font-family: 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
            font-size: 12px;
            border-bottom-color: rgb(243, 242, 241);
            border-bottom-style: solid;
            border-bottom-width: 1px;
            width: 540px;
        }

        .data-table th, .data-table tr td {
            margin-left: 5px;
            font-family: 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
            font-size: 12px;
            font-weight: 400;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 12px;
            padding-right: 12px;
            border-bottom-color: rgb(243, 242, 241);
            border-bottom-style: solid;
            border-bottom-width: 1px;
            text-align: left;
            height: 48px;
        }

        .data-table tr td {
            margin-left: 5px;
            font-family: 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
            font-size: 14px;
            font-weight: 400;
            height: 48px;
        }
    </style>

    <style>
        .dot {
            margin-left: 12px;
            height: 12px;
            width: 12px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
        }

        .red {
            background-color: #C12D4D;
        }

        .yellow {
            background-color: #FAD022;
        }

        .green {
            background-color: #94C455;
        }

        .category {
            font-size: 20px;
            color: #16233A;
            margin-bottom: 8px;
            margin-top: 16px;
        }

        .person {
            margin-left: 12px;
            color: #16233A;
            font-size: 14px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>

    <script>
        function togglemenu() {
            var x = document.getElementById("menu");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function removeRow(id) {
            var x = document.getElementById(id);
            x.style.display = "none";
        }

        function md(chatId) {
            var deeplink = "https://teams.microsoft.com/l/chat/" + chatId + "/0";
            microsoftTeams.executeDeepLink(deeplink);
        }

        // When the user clicks on div, open the popup
        function showLoadingPopup() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }

        function createChat() {
            jQuery.ajax({
                type: "POST",
                url: '@(Url.Action("CreateChat", "Chat"))',
                async: true,
                success: function (response) {
                    md(response.chatId);
                },
                error: function () {
                    alert("error");
                    return "error";
                }
            });
        }

        function closeChat(chatId) {
            jQuery.ajax({
                type: "POST",
                url: '@(Url.Action("CloseChat", "CloseChat"))',
                data: { chatId: chatId },
                async: true,
                success: function (msg) {
                },
                error: function () {
                    alert("error");
                    return "error";
                }
            });
        }

        $('table').each(function () {
            if ($(this).find('tr').children("td").length < 1) {
                $(this).hide();
            }
        });
    </script>

    <div class="flex-container" style="  display: flex;">
        <img src="content/mockup.png" height="425" width="548" />
        <div data-builder-id="builder-root" style="margin-left:30px; margin-top:5px">
            <button data-aa-class="Button" class="ui-button ex ey ez fb fc fd bj dv au at bl fe bn ff eb bi fg du fh fi fj fk av aw ax ay bd be bf bg fl fm fn fo fp fq bu bv bw bx by bz ca cb cc cd ce cf cg ch ci cj cl cm cn co cp cq fr fs ft fu cv cw cx cy cz da db dc dd de df dg dh di dj dk dl fv fw fx fy" data-builder-id="r1s94p84f5r">
                <a href="second" style="
                    color:  white;
                    text-decoration: none;
                ">
                    <span dir="auto" class="ui-button__content ga gb gc bk gd ge">Buy</span>
                </a>
            </button>
            <p></p>
            <div role="button" tabindex="0" data-aa-class="Button" class="ui-button ex ey ez b gf fd bj dv au at bl fe bn ff eb bi fg du fh fi fj fk av aw ax ay gg gh gi gj gk bt gl gm gn go gp fo gq gr gs gt gu gv fq bu bz ca cb cc cd ce cf cg ch ci cj cl cm cn co cp cq fr fs ft fu cv cw cx cy cz da db dc dd de df dg dh di dj dk dl fv fw fx fy gw gx gy gz ha hb hc hd" data-builder-id="3v5hbau1gf8"
                 onmousedown="togglemenu()">
                @*href="help"*@
                <a style="
                    color:  #16233A;
                    text-decoration: none;
                ">

                    <span dir="auto" class="ui-button__content ga gb gc bk gd ge">Get Help</span>
                </a>
            </div>
            <div id="menu" style="display:none">
                <div style="
                        background: white;
                        border: black;
                        border-width: 1px;
                        border-style: solid;
                        padding: 16px;
                        width: 200px;">

                    <div class="clickable category" style="margin-top: 0px">Bankruptcy</div>
                    <div> <span class="dot red"></span> <span class="person">  Bianca Pisani</span> </div>
                    <div> <span class="dot green"></span> <span class="person">  Gerhart Moller</span> </div>
                    <div> <span class="dot yellow"></span> <span class="person">  Lee Gu</span> </div>

                    <div class="clickable category">Risk management </div>
                    <div> <span class="dot red"></span> <span class="person">  Grady Archie</span> </div>
                    <div> <span class="dot green"></span> <span class="person">  Lidia Holloway</span> </div>

                    <div title="Create a help chat with the Tariffs team" class="popup clickable category" onmousedown="showLoadingPopup(); createChat();">
                        Tariffs
                        <span class="popuptext" id="myPopup">Creating help chat... Please wait one moment.</span>
                    </div>
                    <div> <span class="dot yellow"></span> <span class="person">  Allan Deyoung</span> </div>
                    <div> <span class="dot red"></span> <span class="person">  Mallory Cortez</span> </div>
                    <div> <span class="dot green"></span> <span class="person">  Patty Fernandez</span> </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="styled-header">
        Active Ticket Chats
    </h1>

    <table id="tblCustomers" class="data-table">
        <thead>
            <tr>
                <th>Chat Name</th>
                <th>Help Team</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Chats.Count == 0)
                {
                    <tr>
                        <td style="width:150px">No active tickets at this time.</td>
                    </tr>
                }
                else
                {
                    foreach (Chat chat in Model.Chats)
                    {
                        string id = "closeChat" + chat.Id;
                        <tr id="@id">
                            <td style="width:150px">@chat.Topic</td>
                            <td style="width:150px">Tariffs</td>
                            <td style="width:150px"><input class="ui-button ex ey ez b gf fd bj dv au at bl fe bn ff eb bi fg du fh fi fj fk av aw ax ay gg gh gi gj gk bt gl gm gn go gp fo gq gr gs gt gu gv fq bu bz ca cb cc cd ce cf cg ch ci cj cl cm cn co cp cq fr fs ft fu cv cw cx cy cz da db dc dd de df dg dh di dj dk dl fv fw fx fy gw gx gy gz ha hb hc hd" type="button" data-id="@chat.Id" id="@id" value="Close" onclick="closeChat(this.getAttribute('data-id')); removeRow(this.getAttribute('id'))" /></td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>


    <script>
        var x = setInterval(function () {
            //                                                window.location.reload(true);
        }, 10 * 1000); // 10s
    </script>

</body>